DATABASE_URL=postgresql://USER:PASSWORD@HOST:PORT/DBNAME
HOST=0.0.0.0
PORT=8000
MODEL_WEIGHTS_URL=https://github.com/oceanbrother/Crisislink/releases/download/AI-model-asset/best_food101_convnext.pth
MODEL_CLASSES_URL=https://github.com/oceanbrother/Crisislink/releases/download/AI-model-asset/classes.json
