fastapi==0.104.1
uvicorn==0.24.0
pydantic==2.5.0
python-multipart==0.0.6
python-dotenv==1.0.0
databases==0.8.0
asyncpg==0.30.0
sqlalchemy==1.4.49
psycopg2-binary==2.9.9
aiofiles==23.2.1
Pillow==10.4.0
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.3.1+cpu
torchvision==0.18.1+cpu
